
/* Стили для скрытых элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: 16px;
  line-height: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

}

.main-header {
  background-color: #eeeeee;
}

.link-index:focus {
  opacity: 0.3;
}

.menu a,
.cart {
  line-height: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #000;
}

.menu a:hover,
.cart:hover {
  color: #fb565a;
}

.menu a:focus,
.cart:focus {
  color: #bdbdbd;
}

.menu-active {
  border-bottom: 2px solid #fb565a;
}

.bg-header {
  background-color: #eeeeee;
}

/* Стили для index.html  */

/* Стили для слайдера */
.slides {
  margin: 0;
  padding: 0;
}

.slide {
  list-style: none;
}

.slide-slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-slogan-1 {
  width: 380px;
}

.slide-slogan-2 {
  width: 520px;
}

.slide-slogan-3 {
  width: 420px;
}

.slide-text {
  margin: 0;
  margin-bottom: 34px;
}

.slide-text-1 {
  width: 370px;
}

.slide-text-2 {
  width: 420px;
}

.slide-text-3 {
  width: 350px;
}

.btn-slider {
  display: block;
  width: 240px;
  margin-bottom: 80px;
  background-color: #fb565a;
  box-sizing: border-box;
}

.service-items {
  margin: 0;
  padding: 0;
}

.service-item {
  list-style: none;
}

.service-name {
  font-size: 24px;
  line-height: 30px;
}
