
/* Стили для скрытых элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: 16px;
  line-height: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-header {
  background-color: #eeeeee;
}

.link-index:focus {
  opacity: 0.3;
}

.menu a,
.cart {
  line-height: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #000;
}

.menu a:hover,
.cart:hover {
  color: #fb565a;
}

.menu a:focus,
.cart:focus {
  color: #bdbdbd;
}

.menu-active {
  border-bottom: 2px solid #fb565a;
}

.bg-header {
  background-color: #eeeeee;
}

/* Стили для index.html  */
