
/*  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.btn {
  font-size: inherit;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.main-header {
  margin-bottom: 62px;
  background-color: #eee;
}

.bg-header {
  background-color: #eee;
}



/* */
.link-index:focus {
  opacity: 0.3;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 480px;
  padding-right: 45px;  
}

.cart {
  align-self: center;
  margin-top: 15px;
  padding-left: 40px;
  background: transparent url(../img/nerds-sprite.png) no-repeat;
  background-position: -10px -10px;
}

.menu a{
  margin-top: 15px;
  padding: 10px 2px 8px 2px;
}

.menu a,
.cart {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.menu a:hover,
.cart:hover {
  color: #fb565a;
}

.menu a:focus,
.cart:focus {
  color: #bdbdbd;
}

a.menu-active {
  padding: 10px 2px 8px 2px;
  border-bottom: 2px solid #fb565a;
}


.header-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}



/* */
.map-block {
  position: relative;
  overflow: hidden;
}

.map-block::after {
  content: "";
  position: absolute;
  top: 91px;
  left: 700px;
  width: 231px;
  height: 190px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -213px;
}

.map {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contacts-block {
  width: 320px;
  position: absolute;
  top: 55px;
  left: 20px;
  padding: 50px 60px 45px 50px;
  box-sizing: border-box;
  text-align: left;
  word-break:break-word;
  background-color: #fff;
}

.name-block {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase
}

.contact-adress {
  margin: 0;
  margin-bottom: 17px;
  line-height: 18px;
}

.contact-phone {
  display: block;
  margin: 0;
  margin-bottom: 38px;
  color: #000;
}

.btn-map {
  display: inline-block;
  width: 220px;
  padding: 16px 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fb565a;
}

.btn-map:hover {
 background-color: #e74246;
}

.btn-map:focus {
 color: #e37376;
 background-color: #d7373b;
}



/* */
.main-footer {
  padding-bottom: 68px;
  padding-top: 68px;
}

.social-links {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  align-items: center;
}

.social-item {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-right: 10px;
  list-style: none;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-link {
  display: block;
  width: 80px;
  height: 80px;
}

.social-link-vk {
  position: relative;
}

.social-link-vk:hover {
  border-radius: 50%;
  background-color: #e74246;
}

.social-link-vk:focus {
  border-radius: 50%;
  background-color: #d7373b;
}

.social-link-vk svg{
  position: absolute;
  top: 32px;
  left: 26px;
}

.social-link-vk:focus svg{
  opacity: 0.3;
}

.social-link-fb {
  position: relative;
}

.social-link-fb:hover {
  border-radius: 50%;
  background-color: #e74246;
}

.social-link-fb:focus {
  border-radius: 50%;
  background-color: #d7373b;
}

.social-link-fb svg {
  position: absolute;
  top: 28px;
  left: 33px;
}

.social-link-fb:focus svg{
  opacity: 0.3;
}

.social-link-inst {
  position: relative;
}

.social-link-inst:hover {
  border-radius: 50%;
  background-color: #e74246;
}

.social-link-inst:focus {
  border-radius: 50%;
  background-color: #d7373b;
}

.social-link-inst svg {
  position: absolute;
  top: 29px;
  left: 29px;
}

.social-link-inst:focus svg{
  opacity: 0.3;
}

.footer-items {
  display: flex;
}

.slogan {
  width: 560px;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.slogan span {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #444;
}



/* */
.popup-send {
  display: none;
  position: fixed;
  width: 961px;
  height: 595px;
  top: 5%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 65px 100px 85px 100px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(41,52,73,.75);
}

.popup-close {
  position: absolute;
  top: 78px;
  right: 87px;
  width: 23px;
  height: 21px;
  background: transparent url(../img/close-popup.png) no-repeat;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.popup-close:hover {
  opacity: initial;
}

.popup-close:focus {
  opacity: 0.1;
}

.popup-send h2 {
  margin: 0;
  margin-bottom: 43px;
  font-size: 45px;
  line-height: 45px;
}

.letter-popup {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-name {
  width: 360px;
  display: inline-block;
}

.contact-email {
  width: 360px;
  display: inline-block;
}

.contact-name label[for="name"],
.contact-email label[for="email"] {
  display: block;
  font-weight: normal;
  margin-bottom: 9px;
  line-height: 18px;
}

.contact-name input,
.contact-email input {
  width: 360px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}

.textarea label[for="textarea"] {
  display: block;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 12px;
  line-height: 18px;
}

.textarea {
  width: 760px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 18px;
}

.textarea textarea {
  width: 760px;
  margin-bottom: 45px;
  padding: 9px 15px 16px 9px;
  box-sizing: border-box
}

.popup-btn {
  display: block;
  width: 260px;
  padding: 18px 18px 14px 18px;
  box-sizing: border-box;
  border: none;
  background-color: #fb565a;
}

.popup-btn:hover {
 background-color: #e74246;
}

.popup-btn:focus {
 color: #e37376;
 background-color: #d7373b;
}



/* */

/* */
.slides {
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  bottom: 88px;
  left: 535px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  vertical-align: top;
  background-color: #fff ;
  border-radius: 50%;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 1160px;
  height: 426px;
  margin-bottom: 80px;
}

.slide {
  display: none;
  padding: 75px 0 80px 0;
  list-style: none;
}

#slide-input-1:checked ~ .slider #slide-1,
#slide-input-2:checked ~ .slider #slide-2,
#slide-input-3:checked ~ .slider #slide-3 {
  display: block;
}

#slide-input-1:checked ~ .slider label[for="slide-input-1"],
#slide-input-2:checked ~ .slider label[for="slide-input-2"],
#slide-input-3:checked ~ .slider label[for="slide-input-3"] {
  background: #fff url(../img/slider-checked.png) no-repeat top 5px right 5px;
}

.slide-1 {
  background: transparent url(../img/slide1.png) no-repeat bottom right 30px;
}

.slide-2 {
  background: transparent url(../img/slide2.png) no-repeat bottom right;
}

.slide-3 {
  background: transparent url(../img/slide3.png) no-repeat bottom right;
}

.slide-slogan {
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-slogan-1 {
  width: 380px;
}

.slide-slogan-2 {
  width: 520px;
}

.slide-slogan-3 {
  width: 420px;
}

.slide-text {
  margin: 0;
  margin-bottom: 38px;
}

.slide-text-1 {
  width: 370px;
}

.slide-text-2 {
  width: 420px;
}

.slide-text-3 {
  width: 350px;
}

.btn-slider {
  display: inline-block;
  width:  240px;
  padding: 16px 16px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fb565a;
}

.btn-slider:hover {
 background-color: #e74246;
}

.btn-slider:focus {
 color: #e37376;
 background-color: #d7373b;
}



/* */
.service-items {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  padding-bottom: 79px;
  border-bottom: 2px solid #eee;
}

.service-item {
  list-style: none;
}

.service-image {
  margin-bottom: 19px;
}

.service-name {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  margin-bottom: 34px;
}

.service-text-1 {
  width: 250px;
}

.service-text-2 {
  width: 250px;
}

.service-text-3 {
  width: 250px;
}

.service-order {
  width: 160px;
  display: block;
  padding: 16px 40px;
  box-sizing: border-box;
}

.service-order-red {
  background-color: #fb565a;
}

.service-order-red:hover {
  background-color: #e74246;
}

.service-order-red:focus {
  color: #e37376;
  background-color: #d7373b;
}

.service-order-green {
  background-color: #00ca74;
}

.service-order-green:hover {
  background-color: #00bc6c;
}

.service-order-green:focus {
  color: #4dc491;
  background-color: #00aa62;
}


.service-order-yellow {
  background-color: #efc84a;
}

.service-order-yellow:hover {
  background-color: #eab534;
}

.service-order-yellow:focus {
  color: #edc265;
  background-color: #e5a722;
}



/* */
.features-studio {
  display: flex;
  padding-top: 73px;
  padding-bottom: 75px;
  justify-content: space-between;
  background: transparent url("../img/features-background.png") no-repeat left 800px top 40px;
}

.slogan-studio {
  width: 670px;
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.studio-text {
  width: 660px;
  margin: 0;
  margin-bottom: 37px;	
}

.header-services {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.features-items {
  margin: 0;
  padding: 0;
}

.features-item {
  position: relative;
  margin-bottom: 23px;
  padding-left: 38px;
  list-style: none;
}

.features-items .features-item:last-child {
  margin-bottom: 0
}

.features-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 25px;
  height: 2px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -191px;
}

.statistics-text {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

.studio-statistics {
  width: 332px;
  align-self: flex-end;
  padding-right: 10px;
}

.statistics-items {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.statistics-item {
  margin-right: 20px;
  line-height: 18px;
  list-style: none;
}

.statistics-item span {
  display: block;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.statistics-item sup {
  font-size: 30px;
}




/* */
.partners-items {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}


.partners-items .partner-item {
  position: relative;
  width: 260px;
  height: 180px;
  padding: 0 20px;
}

.partners-items .partner-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 65px;
  right: 0;
  width: 2px;
  height: 52px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -423px
}

.partner-link {
  display: block;
  opacity: 0.2;
}

.partner-link img {
  display: block;
}

 .partner-link:hover {
  opacity: initial;
}

.partner-link:focus {
  opacity: 0.1;
}



/* */

/* */
.page-title {
  padding: 75px 20px 105px 0;
}

.page-title h1 {
  margin: 0;
  padding-left: 20px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}



/* */
.main-catalog-content {
  display: flex;
}


/* */
.filters {
  margin-right: 140px;
}

.filter {
  width: 260px;
  margin: 0;
  padding: 0;
  border: none;
}

.header-filter {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.radio-items {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
 }

.radio-item {
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 20px;
  list-style: none;
  opacity: 0.4;
  cursor: pointer;
}

.radio-item:hover {
  opacity: initial;
}

.radio-item input[type="radio"] {
  opacity: 0;
  cursor: pointer;
}

.radio-item input[type="radio"]+label {
  cursor: pointer;
}

.checkbox-items {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.checkbox-item {
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 20px;
  list-style: none;
  opacity: 0.4;
  cursor: pointer;
}

.checkbox-item:hover {
  opacity: initial;
}

.checkbox-item input[type="checkbox"] {
  opacity: 0;
}

.checkbox-item input[type="checkbox"]+label {
  cursor: pointer;
}

.checkbox-checked {
  position: relative;
}

.checkbox-checked::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 27px;
  height: 23px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -88px;
}

.checkbox-unchecked {
  position: relative;
}

.checkbox-unchecked::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -45px;
}

.radio-checked {
  position: relative;
}

.radio-checked::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -540px;
}

.radio-unchecked {
  position: relative;
}

.radio-unchecked::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -495px;
}

.btn-filter {
  padding: 16px 89px 16px 89px;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eee;
  border-radius: 5px;
  border: none;
}

.btn-filter:hover {
  background-color: #dfdfdf;
}

.btn-filter:focus {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

/* */
.range-filter {
  width: 260px;
  margin-bottom: 60px;
}

.header-filter {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.header-range {
  margin-bottom: 50px;
}

.header-radio {
  margin-bottom: 18px;
}

.header-checkbox {
  margin-bottom: 17px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 16px;
  padding: 39px 20px 0 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  margin-left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}



/* */
.template-sort {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.template-sort span {
  margin: 0;
  margin-right: 269px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-items {
  width: 270px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sorting {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
 }

.active-sorting {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.link-sorting {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  opacity: 0.3;
}

.link-sorting:hover {
  opacity: 0.6;
}

.link-sorting:focus {
  opacity: initial;
}

.sort-items {
  margin-right: 49px;
}

.sorting-arrows {
  display: flex;
  justify-content: space-between;
  width: 41px;
}

.arrow {
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.arrow:hover {
  opacity: 0.4;
}

.arrow:focus {
  opacity: initial;
}

.arrow-up {
  position: relative;
}

.arrow-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 10px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -161px;
}

.arrow-down {
  position: relative;
}

.arrow-down::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 10px;
  background: transparent url("../img/nerds-sprite.png") no-repeat;
  background-position: -10px -131px;
}



/* */
.catalog-items {
  margin: 0;
  margin-right: -40px;
  margin-bottom: 28px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 }

.catalog-item {
  position: relative;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.catalog-item::before {
  content: "...";
  position: absolute;
  top: -30px;
  left: 7px;
  font-size: 130px;
  letter-spacing: -10px;
  color: #fff;
}

.item-desk {
  display: none;
  position: absolute;
  bottom: 7px;
  padding-top: 29px;
  padding-bottom: 43px;
  width: 360px;
  height: 230px;
  box-sizing: border-box;
  text-align: center;
  background-color: #eee;
}

.catalog-item:hover .item-desk {
  display: block;
}

.name-item {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.name-item:hover {
  color: #fb565a;
}

.name-item:focus {
  color: #b2b2b2;
}

.text-item {
  margin: 0 auto;
  margin-bottom: 28px;
  width: 200px;
  border-box: box-sizing;
  line-height: 18px;
  word-break:break-word;
}

.sale-price {
  display: inline-block;
  width: 200px;
  padding: 16px 16px 16px 16px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border-radius: 5px;
}

.sale-price:hover {
  background-color: #e74246;
}

.image-item {
  border-top: 40px solid #e9e9e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-item:hover {
  border-color: #4d4d4d;
}



/* */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 400px;
  margin-bottom: 61px;
}

.pagination li {
  list-style: none;
}

.link-pagination {
  display: block;
  margin-right: 12px;
  padding: 15px 20px;
  color: #000;
  border-radius: 5px;
  background-color: #eee;
}

.link-pagination:hover {
  background-color: #dfdfdf;
}

.link-pagination:focus {
  padding: 12px 20px 15px 20px;
  box-sizing: border-box;
  color: #959595;
  border-top: 3px solid #bfbfbf;
  background-color: #d5d5d5;
}

.active-pagination {
  padding: 12px 18px;
  margin-right: 10px;
  border: 3px solid #dbdbdb;
  background-color: #fff;
}

.active-pagination:focus {
  padding: 12px 18px 12px 18px;
  box-sizing: border-box;
  color: #959595;
  border-top: 3px solid #bfbfbf;
  background-color: #d5d5d5;
}

.next-page {
  padding-left: 77px;
  padding-right: 77px;
  text-transform: uppercase;
}

.next-page:focus {
  padding: 12px 77px 15px 77px;
}